body{
  background: #e8e9d7;
  width: 100%;
  height: 100%;
}

p{

}

h1{

}

.wrapper{
  width: 100%;
  margin: 10px;
}

.textWrapper{

height: 40%;
width: 20%;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
resize: both;
position: static;

}

.titleText{
font-size: 5vw;
text-align: center;
color: #ce2724	;
}
