@import "compass/css3";

body{
  //background: #e8e9d7;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  overflow: hidden;
  background-image: url("https://raw.githubusercontent.com/kellyvigil/shotsofcrotches/master/images/landingPageImage2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  //margin-top: 0px;
}

p{



}

h1{

}

span{
  vertical-align: middle;
}

.backgroundImage{

  width: 100%;
  height: 100%;

  //background-color: #981e1e;
}


.wrapper{
  width: 100%;
  height: 80%;
  paddoing-top: 5%;
  //background: rgba(255,255,0,1);


}

.textWrapper{

  height: auto;
  //background: #232418;
  //border-style: solid;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  position:static;

}



.titleText{
  font-size: 10vw;
  font-family: 'Rubik Mono One', sans-serif;
  color: #f17876;
  text-shadow: -3px 3px #8fe898, -6px 6px #e88fe4  ;
  text-align: center;

}
